  <div class="container">
  <div class="row">
    <% @restaurants.each do |animal| %>
      <div class="col-xs-12 col-sm-6">
        <h3>
          <%= link_to restaurant.name, restaurant_path(restaurant) %>
        </h3>
        <p>
          <%= restaurant.adress %>
        </p>
        <p>
          <%= restaurant.phone_number %>
        </p>
        <p>
          <%= restaurant.category %>
        </p>

      </div>
    <% end %>
  </div>
</div>
